
/*css resetd */

body {
  width: 100%;
  background-color: #ffffff; 
  box-sizing: border-box;
  font-family: 'hyperzeitregular', serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 27px;
}


#horizon {
  z-index: 99;
  position: fixed;
  width: 100%;
  left: 50%;
  margin-left: -50%;
  margin-top: 80px;
}
